In [ ]:
import psycopg2
import pandas as pd
import numpy

local_conn_string = "host='10.88.0.2' dbname='postgres' user='postgres' password='<password>'"
remote_conn_string = "postgres://<user>:<password>@99621333-c418-4d9d-9bab-c2f6ec3e838d.blrrvkdw0thh68l98t20.databases.appdomain.cloud:31028/ibmclouddb?sslmode=allow"

def issue_query(query, conn_string):
    try:
        conn = psycopg2.connect(conn_string)
        cursor = conn.cursor()
        cursor.execute(query)
        result = cursor.fetchall()
        column_names = [desc[0] for desc in cursor.description]
        df = pd.DataFrame(result, columns=column_names)
        print("Query issued successfully")
        return df
    except (Exception, psycopg2.DatabaseError) as error:
        print(f"Error executing query: {error}")
        return error

def insert_dataframe_to_postgres(df, table_name, conn_string):
    """Inserts a pandas DataFrame into a PostgreSQL table.

    Args:
        df: The pandas DataFrame to insert.
        table_name: The name of the table in the database.
        conn_string: The connection string to the PostgreSQL database.

    Returns:
        None
    """

    conn = psycopg2.connect(conn_string)
    cur = conn.cursor()

    # Create a parameterized SQL query to prevent SQL injection
    sql = "INSERT INTO {} ({}) VALUES ({})".format(
        table_name,
        ", ".join(df.columns),
        ", ".join(["%s"] * len(df.columns))
    )

    # Iterate over the DataFrame and execute the query for each row
    for index, row in df.iterrows():
        cur.execute(sql, tuple(row))
        print("INSERT completed")

    conn.commit()
    cur.close()
    conn.close()

In [2]:
assets = issue_query("""
select * from assets
join offering_types on assets.asset_offering_type = offering_types.offering_type_id

""", remote_conn_string)

assets.head(1)

Query issued successfully

,asset_id,asset_name,asset_owner,asset_description,asset_type,asset_link,created_at,updated_at,asset_offering_type,asset_brand,asset_practice,is_ip_cleared,is_sellable,asset_rating_avg,asset_collaborators,asset_owner_name,asset_geo,asset_market,offering_type_id,offering_type_name
0,f6f5c2a8-f81f-480e-ac1b-27f633a44b74,PowerVS on IBM Cloud - Transfer workload to an...,Thomas.Schrenk@de.ibm.com,<p>This quick cookbook demonstrates (through s...,sol_temp,https://ibm.box.com/s/jashqsykonc3ja9uh22wop4m...,2024-04-26 15:36:51.896105+00:00,2024-07-17 09:50:25.281066+00:00,not_specific,cloud,cloud,False,False,5.0,None,Thomas Schrenk,EMEA,DACH,not_specific,Not Offering-specific

In [5]:
# 1	Brand
# 2	Practice
# 3	Product
# 4	AssetType
# 5	OfferingType
# 6	Geo
# 7	Market
# 8	IPCleared
# 9	Sellable


target_field = "offering_type_name"
df2 = pd.DataFrame(assets[target_field].unique(), columns=["value"])
array = [5] * len(assets[target_field].unique())

df2.insert(0, "aid", array)

df2.head(len(df2))

    aid                         value
0     5         Not Offering-specific
1     5                        Assess
2     5                Architect/Plan
3     5                         Build
4     5                        Custom
5     5   Install/Provision/Configure
6     5                       Migrate
7     5                       Perform
8     5          Essential Management
9     5             Expertise Connect
10    5             Learn Interactive

In [71]:
insert_dataframe_to_postgres(df2, "attributevalues", local_conn_string)

INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed

In [23]:
geos_df = pd.DataFrame()
markets_df = pd.DataFrame()

geos_aid_series = pd.Series([6,6,6,6,6])
market_aid_series = pd.Series([7,7,7,7,7,7,7,7,7,7,7,7,7,7,7])
geos_value_series = pd.Series(["Americas", "EMEA", "APAC", "Japan", "World Wide"])
market_value_series = pd.Series(["US", "Canada", "Latin America", "ASEANZK", "ISA", "GCG", "DACH", "France", "Italy", "MEA", "NCEE", "SPGI", "UKI", "Japan", "World Wide"])

geos_df.insert(0, "aid", geos_aid_series)
geos_df.insert(1, "value", geos_value_series)

markets_df.insert(0, "aid", market_aid_series)
markets_df.insert(1, "value", market_value_series)

# geos_df.head()
markets_df.head(15)

    aid          value
0     7             US
1     7         Canada
2     7  Latin America
3     7        ASEANZK
4     7            ISA
5     7            GCG
6     7           DACH
7     7         France
8     7          Italy
9     7            MEA
10    7           NCEE
11    7           SPGI
12    7            UKI
13    7          Japan
14    7     World Wide

In [24]:
# insert_dataframe_to_postgres(geos_df, "attributevalues", local_conn_string)
insert_dataframe_to_postgres(markets_df, "attributevalues", local_conn_string)

INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed

In [28]:
ipc_df = pd.DataFrame()
sell_df = pd.DataFrame()

tf_series = pd.Series(["True", "False"])
eights = pd.Series([8,8])
nines = pd.Series([9,9])

ipc_df.insert(0, "aid", eights)
ipc_df.insert(1, "value", tf_series)

sell_df.insert(0, "aid", nines)
sell_df.insert(1, "value", tf_series)

ipc_df.head()

   aid  value
0    8   True
1    8  False

In [29]:
insert_dataframe_to_postgres(ipc_df, "attributevalues", local_conn_string)
insert_dataframe_to_postgres(sell_df, "attributevalues", local_conn_string)

INSERT completed
INSERT completed
INSERT completed
INSERT completed

# Existing Asset conversion

### Get Assets

In [102]:
adf = issue_query("""
select a.asset_id, b.brand_name, p.practice_name, t.type_name, o.offering_type_name, a.is_ip_cleared, a.is_sellable, a.asset_geo, a.asset_market
from assets a
join brands b on a.asset_brand = b.brand_id
join practices p on a.asset_practice = p.practice_id
join asset_types t on t.type_id = a.asset_type
join offering_types o on a.asset_offering_type = o.offering_type_id
""", remote_conn_string)

Query issued successfully

### Get Assets for Product conversion

In [195]:
adf = issue_query("""
select a.asset_id as eid, 3 as aid, p.product_name as value
from assets a
join asset_product ap on ap.asset_id = a.asset_id
join products p on p.product_id = ap.product_id
""", remote_conn_string)

Query issued successfully

In [197]:
adf.head(10)

,eid,aid,value
0,d8208fbd-6881-40df-bcca-b51cb7fd1b19,3,watsonx.ai
1,d8208fbd-6881-40df-bcca-b51cb7fd1b19,3,Watson Discovery
2,d4824bca-59b6-469f-a8cf-26a80aa86582,3,watsonx.governance
3,d4824bca-59b6-469f-a8cf-26a80aa86582,3,watsonx.ai
4,b77fdea7-d7c4-4af6-8f33-8204c2952305,3,watsonx Code Assistant for Ansible
5,6d953aee-5b91-4a22-8095-5b52c54f510a,3,Watson Discovery
6,6d953aee-5b91-4a22-8095-5b52c54f510a,3,watsonx Assistant
7,b3f49927-cde1-4010-88d1-70062b31a4d0,3,HPCS - Hyper protect Crypto Service
8,b3f49927-cde1-4010-88d1-70062b31a4d0,3,High Performance Computing
9,6d953aee-5b91-4a22-8095-5b52c54f510a,3,watsonx.ai

In [204]:
eav_attributeValues = issue_query("select id as vid, aid, value from attributevalues", remote_conn_string)

Query issued successfully

In [165]:
# eid row["asset_id"]
# aid filter.iloc[0]["aid"]
# vid filter.index[0]

entity_list = []
attribute_list = []
value_list = []

#brand
for index, row in adf.iterrows():
    filter = eav_attributeValues.query('value=="' + row["brand_name"] + '" & aid==1')
    entity_list.append(row["asset_id"])
    attribute_list.append(filter.iloc[0]["aid"])
    value_list.append(filter.iloc[0]["vid"])

#practice
for index, row in adf.iterrows():
    filter = eav_attributeValues.query('value=="' + row["practice_name"] + '" & aid==2')
    entity_list.append(row["asset_id"])
    attribute_list.append(filter.iloc[0]["aid"])
    value_list.append(filter.iloc[0]["vid"])

#type
for index, row in adf.iterrows():
    filter = eav_attributeValues.query('value=="' + row["type_name"] + '" & aid==4')
    entity_list.append(row["asset_id"])
    attribute_list.append(filter.iloc[0]["aid"])
    value_list.append(filter.iloc[0]["vid"])

#offeringType
for index, row in adf.iterrows():
    filter = eav_attributeValues.query('value=="' + row["offering_type_name"] + '" & aid==5')
    entity_list.append(row["asset_id"])
    attribute_list.append(filter.iloc[0]["aid"])
    value_list.append(filter.iloc[0]["vid"])

#ip_cleared
for index, row in adf.iterrows():
    entity_list.append(row["asset_id"])
    attribute_list.append(8)
    filter = eav_attributeValues.query('value=="' + str(row["is_ip_cleared"]) + '" & aid==8')
    value_list.append(filter.iloc[0]["vid"])

#sellable
for index, row in adf.iterrows():
    entity_list.append(row["asset_id"])
    attribute_list.append(9)
    filter = eav_attributeValues.query('value=="' + str(row["is_ip_cleared"]) + '" & aid==9')
    value_list.append(filter.iloc[0]["vid"])

#geo
for index, row in adf.iterrows():
    if row["asset_geo"]:
        filter = eav_attributeValues.query('value=="' + row["asset_geo"] + '" & aid==6')
        entity_list.append(row["asset_id"])
        attribute_list.append(filter.iloc[0]["aid"])
        value_list.append(filter.iloc[0]["vid"])

#market
for index, row in adf.iterrows():
    if row["asset_market"]:
        filter = eav_attributeValues.query('value=="' + row["asset_market"] + '" & aid==7')
        entity_list.append(row["asset_id"])
        attribute_list.append(filter.iloc[0]["aid"])
        value_list.append(filter.iloc[0]["vid"])


results_df = pd.DataFrame({"eid": entity_list, "aid": attribute_list, "vid": value_list})

### Product extract

In [206]:
entity_list = []
attribute_list = []
value_list = []

#brand
for index, row in adf.iterrows():
    # print(f"Searching for: {row["value"]}")
    filter = eav_attributeValues.query('value=="' + row["value"] + '" & aid==3')
    entity_list.append(row["eid"])
    attribute_list.append(filter.iloc[0]["aid"])
    value_list.append(filter.iloc[0]["vid"])


results_df = pd.DataFrame({"eid": entity_list, "aid": attribute_list, "vid": value_list})

In [210]:
results_df.head()

                                    eid  aid  vid
0  d8208fbd-6881-40df-bcca-b51cb7fd1b19    3  208
1  d8208fbd-6881-40df-bcca-b51cb7fd1b19    3  156
2  d4824bca-59b6-469f-a8cf-26a80aa86582    3   85
3  d4824bca-59b6-469f-a8cf-26a80aa86582    3  208
4  b77fdea7-d7c4-4af6-8f33-8204c2952305    3  159

### Validate for asset_id x

In [217]:
results_df[results_df["eid"] == "2da6b30e-6c5d-4163-a74b-652d38c6b86f"]

                                     eid  aid  vid
69  2da6b30e-6c5d-4163-a74b-652d38c6b86f    3  208
70  2da6b30e-6c5d-4163-a74b-652d38c6b86f    3   49

In [218]:
adf[adf["eid"] == "2da6b30e-6c5d-4163-a74b-652d38c6b86f"]

                                     eid  aid                            value
69  2da6b30e-6c5d-4163-a74b-652d38c6b86f    3                       watsonx.ai
70  2da6b30e-6c5d-4163-a74b-652d38c6b86f    3  Sterling Order Management (OMS)

In [219]:
insert_dataframe_to_postgres(results_df, "entityattributes", remote_conn_string)

INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed
INSERT completed